In [3]:
import json
from typing import Dict, List
from json import JSONEncoder
#import jsonpickle
import pandas as pd
import numpy as np

In [13]:
day_0_data = pd.read_csv("Data/round-1-island-data-bottle/prices_round_1_day_0.csv", delimiter = ";")
day_0_nn_data = pd.read_csv("Data/round-1-island-data-bottle/trades_round_1_day_0_nn.csv", delimiter = ";")

In [14]:
day_0_data

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,0,0,AMETHYSTS,9998,1,9995.0,30.0,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10001.5,0.0
1,0,0,STARFRUIT,5036,30,NaN,NaN,NaN,NaN,5043,30,NaN,NaN,NaN,NaN,5039.5,0.0
2,0,100,AMETHYSTS,9996,1,9995.0,30.0,NaN,NaN,10002,6,10004.0,1.0,10005.0,30.0,9999.0,0.0
3,0,100,STARFRUIT,5041,4,5037.0,1.0,5036.0,30.0,5043,31,NaN,NaN,NaN,NaN,5042.0,0.0
4,0,200,AMETHYSTS,9996,1,9995.0,21.0,NaN,NaN,10004,1,10005.0,21.0,NaN,NaN,10000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,999700,STARFRUIT,5053,1,5048.0,26.0,NaN,NaN,5054,2,5055.0,24.0,NaN,NaN,5053.5,0.0
19996,0,999800,STARFRUIT,5047,27,NaN,NaN,NaN,NaN,5052,1,5054.0,27.0,NaN,NaN,5049.5,0.0
19997,0,999800,AMETHYSTS,9995,27,NaN,NaN,NaN,NaN,10005,27,NaN,NaN,NaN,NaN,10000.0,0.0
19998,0,999900,STARFRUIT,5048,2,5047.0,21.0,NaN,NaN,5054,23,NaN,NaN,NaN,NaN,5051.0,0.0
19999,0,999900,AMETHYSTS,9996,2,9995.0,21.0,NaN,NaN,10004,2,10005.0,21.0,NaN,NaN,10000.0,0.0

In [15]:
day_0_nn_data

      timestamp  buyer  seller     symbol   currency    price  quantity
0           100    NaN     NaN  STARFRUIT  SEASHELLS   5041.0         4
1           100    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         1
2           300    NaN     NaN  AMETHYSTS  SEASHELLS   9998.0         2
3           300    NaN     NaN  AMETHYSTS  SEASHELLS   9998.0         1
4           300    NaN     NaN  STARFRUIT  SEASHELLS   5037.0         6
...         ...    ...     ...        ...        ...      ...       ...
5312     998800    NaN     NaN  STARFRUIT  SEASHELLS   5050.0         1
5313     998800    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         1
5314     999500    NaN     NaN  AMETHYSTS  SEASHELLS   9995.0         2
5315     999500    NaN     NaN  STARFRUIT  SEASHELLS   5049.0         2
5316     999600    NaN     NaN  STARFRUIT  SEASHELLS   5048.0         1

[5317 rows x 7 columns]

In [17]:
day_1_data = pd.read_csv("Data/round-1-island-data-bottle/prices_round_1_day_-1.csv", delimiter = ";")
day_1_nn_data = pd.read_csv("Data/round-1-island-data-bottle/trades_round_1_day_-1_nn.csv", delimiter = ";")

In [18]:
day_1_data

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-1,0,AMETHYSTS,10002,1,9996.0,2.0,9995.0,29.0,10004,2,10005.0,29.0,NaN,NaN,10003.0,0.0
1,-1,0,STARFRUIT,5045,1,5040.0,31.0,NaN,NaN,5047,31,NaN,NaN,NaN,NaN,5046.0,0.0
2,-1,100,STARFRUIT,5040,24,NaN,NaN,NaN,NaN,5046,2,5047.0,22.0,NaN,NaN,5043.0,0.0
3,-1,100,AMETHYSTS,9996,2,9995.0,22.0,NaN,NaN,10004,2,10005.0,22.0,NaN,NaN,10000.0,0.0
4,-1,200,AMETHYSTS,9995,20,NaN,NaN,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,-1,999700,AMETHYSTS,9995,26,NaN,NaN,NaN,NaN,10005,26,NaN,NaN,NaN,NaN,10000.0,0.0
19996,-1,999800,STARFRUIT,5036,20,NaN,NaN,NaN,NaN,5043,20,NaN,NaN,NaN,NaN,5039.5,0.0
19997,-1,999800,AMETHYSTS,9995,20,NaN,NaN,NaN,NaN,10002,10,10005.0,20.0,NaN,NaN,9998.5,0.0
19998,-1,999900,AMETHYSTS,9996,2,9995.0,29.0,NaN,NaN,10004,2,10005.0,29.0,NaN,NaN,10000.0,0.0
19999,-1,999900,STARFRUIT,5036,31,NaN,NaN,NaN,NaN,5041,6,5043.0,31.0,NaN,NaN,5038.5,0.0

In [19]:
day_1_nn_data

      timestamp  buyer  seller     symbol   currency    price  quantity
0             0    NaN     NaN  STARFRUIT  SEASHELLS   5047.0        13
1             0    NaN     NaN  STARFRUIT  SEASHELLS   5047.0         1
2             0    NaN     NaN  AMETHYSTS  SEASHELLS  10004.0         1
3          1100    NaN     NaN  AMETHYSTS  SEASHELLS   9996.0         2
4          1700    NaN     NaN  AMETHYSTS  SEASHELLS  10002.0         1
...         ...    ...     ...        ...        ...      ...       ...
5365     999200    NaN     NaN  STARFRUIT  SEASHELLS   5038.0         7
5366     999200    NaN     NaN  STARFRUIT  SEASHELLS   5043.0         1
5367     999200    NaN     NaN  STARFRUIT  SEASHELLS   5038.0         1
5368     999500    NaN     NaN  STARFRUIT  SEASHELLS   5041.0         2
5369     999600    NaN     NaN  AMETHYSTS  SEASHELLS   9998.0         1

[5370 rows x 7 columns]

In [20]:
day_2_data = pd.read_csv("Data/round-1-island-data-bottle/prices_round_1_day_-2.csv", delimiter = ";")
day_2_nn_data = pd.read_csv("Data/round-1-island-data-bottle/trades_round_1_day_-2_nn.csv", delimiter = ";")

In [22]:
day_2_data

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-2,0,AMETHYSTS,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0,0.0
1,-2,0,STARFRUIT,4997,26,NaN,NaN,NaN,NaN,5003,26,NaN,NaN,NaN,NaN,5000.0,0.0
2,-2,100,AMETHYSTS,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5,0.0
3,-2,100,STARFRUIT,5000,5,4998.0,6.0,4997.0,20.0,5004,20,NaN,NaN,NaN,NaN,5002.0,0.0
4,-2,200,STARFRUIT,4997,1,4996.0,30.0,NaN,NaN,5003,31,NaN,NaN,NaN,NaN,5000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,-2,999700,AMETHYSTS,9995,22,NaN,NaN,NaN,NaN,10005,22,NaN,NaN,NaN,NaN,10000.0,0.0
19996,-2,999800,STARFRUIT,5041,1,5040.0,25.0,NaN,NaN,5045,3,5047.0,26.0,NaN,NaN,5043.0,0.0
19997,-2,999800,AMETHYSTS,9996,1,9995.0,25.0,NaN,NaN,9998,1,10002.0,9.0,10004.0,1.0,9997.0,0.0
19998,-2,999900,STARFRUIT,5044,4,5040.0,32.0,NaN,NaN,5047,32,NaN,NaN,NaN,NaN,5045.5,0.0
19999,-2,999900,AMETHYSTS,9996,2,9995.0,30.0,NaN,NaN,10004,2,10005.0,30.0,NaN,NaN,10000.0,0.0

In [23]:
day_2_nn_data

      timestamp  buyer  seller     symbol   currency   price  quantity
0             0    NaN     NaN  AMETHYSTS  SEASHELLS  9996.0         1
1             0    NaN     NaN  STARFRUIT  SEASHELLS  5003.0         1
2             0    NaN     NaN  AMETHYSTS  SEASHELLS  9996.0         1
3           100    NaN     NaN  STARFRUIT  SEASHELLS  5004.0         6
4           900    NaN     NaN  STARFRUIT  SEASHELLS  5001.0         2
...         ...    ...     ...        ...        ...     ...       ...
5458     998000    NaN     NaN  STARFRUIT  SEASHELLS  5046.0         4
5459     998900    NaN     NaN  STARFRUIT  SEASHELLS  5046.0         1
5460     999000    NaN     NaN  STARFRUIT  SEASHELLS  5047.0         1
5461     999800    NaN     NaN  AMETHYSTS  SEASHELLS  9998.0         1
5462     999900    NaN     NaN  STARFRUIT  SEASHELLS  5044.0         4

[5463 rows x 7 columns]